<ion-app>
  <ion-header >
      <ion-toolbar translucent>
        <ion-title>
          <h1>COCKTAILS</h1>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content fullscreen padding>
    <ion-card>
      <img src="assets/icon/vodka_con_limon.jpeg" />
      <ion-card-header>
        <ion-card-subtitle>Absolut Vodka</ion-card-subtitle>
        <ion-card-title>Lemon Drop</ion-card-title>
      </ion-card-header>
    
      <ion-card-content >
        Cocktail a base de Vodka con el sabor dulce y agrio del limon
      </ion-card-content>
      
      <ion-button expand="block" (click)="shots('Lemon Drop')" color = success> <h>Drink IT</h> </ion-button>
    </ion-card>
    
    <ion-card>
      <img src="assets/icon/vodka1.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Absolut Vodka</ion-card-subtitle>
        <ion-card-title>Destornillador</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        El cocktail mas famoso del mundo. Bebida a base de Vodka con jugo de naranja
      </ion-card-content>
      <ion-button expand ="block" color="warning" (click)="shots('Destornillador')" ><h>Drink IT</h></ion-button>
    </ion-card>
    
    <ion-card>
      <img src="assets/icon/campari1.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Campari</ion-card-subtitle>
        <ion-card-title>Campari Orange</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Cocktail dulce que combina dos ingredientes provenientes del norte y del sur de Italia. Campari de Milano y naranjas del sur
      </ion-card-content>
      <ion-button expand ="block" color="danger" (click)="shots('Campari Orange')" ><h>Drink IT</h></ion-button>
    </ion-card>

    <ion-card>
      <img src="assets/icon/vodka_campari.jpeg" />
      <ion-card-header>
        <ion-card-subtitle>Absolute Vodka & Campari</ion-card-subtitle>
        <ion-card-title>Mutticano</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        La perfecta combinación entre Vodka, Campari y el fresco jugo de naranja
      </ion-card-content>
      <ion-button expand ="block" color="warning" (click)="shots('Mutticano')" ><h>Drink IT</h></ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Cuidado & Mantenimiento</ion-card-subtitle>
        <ion-card-title>Limpieza</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Para garantizar la calidad de tus tragos te recomendamos que hagas una limpieza periódica de la máquina
      </ion-card-content>
      <ion-button expand ="block" color="primary" (click)="shots('Limpieza')" ><h>Limpiar</h></ion-button>
    </ion-card>

    </ion-content>
    </ion-app>